name: deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    
    - name: Clasp Token
      uses: namaggarwal/clasp-token-action@v0.0.1
      with:
        # ClientID of the project
        client-id: ${{ secrets.CLASP_CLIENT_ID }}
        # Client secret of the project
        client-secret: ${{ secrets.CLASP_CLIENT_SECRET }}
        # Refresh token to get new access token
        refresh-token: ${{ secrets.CLASP_REFRESH_TOKEN }}
        
    - name: npm install
      run: |
        npm install
        
    - name: Push to Google Apps Script
      run: |
        npm run-script push-to-app
